body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(240, 239, 244);
  color: rgb(23, 41, 73);
}
/* https://www.lacolombe.com/pages/cold-brew */
/* div {
  border: black;
  border-style: dashed;
  border-width: 1px;
} */